<div class="col-xs-12">
    <div class="content">
        <form #propertyForm="ngForm">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Fecha</label>
                                <input required disabled type="date" class="form-control" name="fecha" [ngModel]="this.propiedad.FECHA | date:'yyyy-MM-dd'"
                                    (ngModelChange)="this.propiedad.FECHA=$event">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Ofrec./Requer. *</label>
                                <select [disabled]="propiedadesService.disableForm || !editable" required class="form-control" name="OFR" (change)="OnLegajoPropertiesChanges()"
                                    [(ngModel)]="this.propiedad.OFR" name="OFR">
                                    <option value="1">1 | Ofrecimiento</option>
                                    <option value="2">2 | Requerimiento</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipo de operacion *</label>
                                <select [disabled]="propiedadesService.disableForm || !editable" class="form-control" required 
                                    (change)="OnLegajoPropertiesChanges()" [(ngModel)]="this.propiedad.TIPO_OPERA" name="TIPO_OPERA">
                                    <option value="CV">CV | Compraventa</option>
                                    <option value="AL">AL | Alquiler</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>País *</label>
                                <select [disabled]="propiedadesService.disableForm || !editable" required class="form-control" 
                                    (change)="OnLegajoPropertiesChanges()" [(ngModel)]="this.propiedad.PAIS" name="PAIS">
                                    <option *ngFor="let pais of paises" [value]="pais.nombre">{{pais.nombre + ' | ' + pais.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Tipo de inmueble *</label>
                                <select [disabled]="propiedadesService.disableForm || !editable" required class="form-control" 
                                    (change)="OnLegajoPropertiesChanges(); propiedadChanged.emit('Cambiado')" [(ngModel)]="this.propiedad.TIPO_INMU" name="TIPO_INMU">
                                    <option *ngFor="let inmu of tipo_inmus" [value]="inmu.nombre">{{inmu.nombre + ' | ' + inmu.descripcion}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Provincia *</label>
                                <select [disabled]="propiedadesService.disableForm || !editable" required #zona class="form-control" 
                                    (change)="onZonaChosen(zona.value)" [(ngModel)]="this.propiedad.ZONA" name="ZONA">
                                    <option *ngFor="let prov of provincias" [value]="prov.nombre">{{prov.nombre + ' | ' + prov.descripcion}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Estado *</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <button (click)="newField(this.propiedad.OFR == '1' ? 'ESTADO_OFR' : 'ESTADO_REQ')" data-toggle="modal" data-target="#addField" class="btn btn-outline btn-outline-success">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <select [disabled]="propiedadesService.disableForm" class="form-control" required [(ngModel)]="this.propiedad.ESTADO" name="ESTADO">
                                        <option *ngFor="let estado of estados" [value]="estado.nombre">{{estado.nombre + " | " + estado.descripcion}}</option>
                                    </select>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Categoría por Vínculo *</label>
                                <select [disabled]="propiedadesService.disableForm" required class="form-control" name="caracter" [(ngModel)]="this.propiedad.CARACTER" name="CARACTER"
                                    (change)="OnLegajoPropertiesChanges()">
                                    <option value="OPER">Operación</option>
                                    <option value="DATO">Sólo dato</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="col-md-3 pull-right">
                    <div class="card">
                        <div class="card-body">
                            <!--div class="col-md-2 pull-right"-->
                            <div class="form-group">
                                <label>Legajo</label>
                                <input type="text" class="form-control" disabled  [(ngModel)]="this.propiedad.LEGAJO" name="LEGAJO">
                            </div>
                            <div class="form-group">
                                <label>Operacion</label>
                                <input type="text" class="form-control" disabled  [(ngModel)]="this.propiedad.OPERACION" name="OPERACION">
                            </div>
                        </div>
                        <!--/div-->

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Oferente/Requerente *</label>
                        <input [disabled]="propiedadesService.disableForm" (input)="updateNombre('OFER_REQUE')" required type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.OFER_REQUE" name="OFER_REQUE">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.TELEFONO" name="TELEFONO">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Mail</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.EMAIL" name="EMAIL">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Interlocutor</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.INTERLOCUT" name="INTERLOCUT">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Celular</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.CELULAR" name="CELULAR">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Aclaracion</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.DIRECCION" name="DIRECCION">
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Trader *</label>
                        <select [disabled]="propiedadesService.disableForm" required class="form-control" (change)="updateNombreInmueble(traderSelect.value)" #traderSelect [(ngModel)]="this.propiedad.TRADER" name="TRADER">
                            <option *ngFor="let trader of traders" [value]="trader.nombre">{{trader.nombre+ ' | ' + trader.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="propiedad.OFR == '1'">
                    <div class="form-group">
                        <label>Repr. Local</label>
                        <select [disabled]="propiedadesService.disableForm" class="form-control"  [(ngModel)]="this.propiedad.AGENT_LOCA" name="AGENT_LOCA">
                            <option *ngFor="let trader of traders" [value]="trader.nombre">{{trader.nombre+ ' | ' + trader.descripcion}}</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-2" *ngIf="propiedad.OFR == '1'">
                    <div class="form-group">
                        <label>Prod. Ofr.</label>
                        <select [disabled]="propiedadesService.disableForm" class="form-control"  [(ngModel)]="this.propiedad.PRODUCT_O" name="PRODUCT_O">
                            <option *ngFor="let trader of traders" [value]="trader.nombre">{{trader.nombre+ ' | ' + trader.descripcion}}</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-3" *ngIf="propiedad.OFR == '1'">
                    <div class="form-group">
                        <label>Coprod. Ofr.</label>
                        <input [disabled]="propiedadesService.disableForm"  type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.INFOR1" name="INFOR1">
                    </div>
                </div>

                <div class="col-md-3" *ngIf="propiedad.OFR == '1'">
                    <div class="form-group">
                        <label>Inform. Ofr.</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.INFOR2" name="INFOR2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" *ngIf="propiedad.OFR == '1'">
                    <div class="form-group">
                        <label>Co-trader</label>
                        <select [disabled]="propiedadesService.disableForm" #cotraderSelect (change)="updateNombreInmueble(cotraderSelect.value)" class="form-control" [name]="this.propiedad.OFR == '1' ? 'TRADER_EO' : 'TRADER_ER'" [(ngModel)]="this.propiedad.OFR == '1' ? this.propiedad.TRADER_EO : this.propiedad.TRADER_ER">
                            <option *ngFor="let trader of traders" [value]="trader.nombre">{{trader.nombre+ ' | ' + trader.descripcion}}</option>
                        </select>

                    </div>
                </div>

                <div class="col-md-2" *ngIf="propiedad.OFR == '1'">
                    <div class="form-group">
                        <label>Repr. Zonal</label>
                        <select [disabled]="propiedadesService.disableForm" class="form-control"  [(ngModel)]="this.propiedad.REPRES_ZON" name="REPRES_ZON">
                            <option *ngFor="let trader of traders" [value]="trader.nombre">{{trader.nombre+ ' | ' + trader.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Prod. Req.</label>
                        <select [disabled]="propiedadesService.disableForm || propiedad.OFR != '2'" class="form-control" 
                            [(ngModel)]="this.propiedad.PRODUCT_R" name="PRODUCT_R">
                            <option *ngFor="let trader of traders" [value]="trader.nombre">{{trader.nombre + ' | ' + trader.descripcion}}</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Coprod. Req.</label>
                        <input [disabled]="propiedadesService.disableForm || propiedad.OFR != '2'" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.INFORM_REQ" name="INFORM_REQ">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Inform. Req.</label>
                        <input [disabled]="propiedadesService.disableForm || propiedad.OFR != '2'" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.INFORM_RE2" name="INFORM_RE2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button (click)="newField('TRADER')" data-toggle="modal" data-target="#addField" class="btn btn-outline btn-outline-success">
                        <i class="fa fa-plus"></i>&nbsp;Agregar</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Nombre Inmueble *</label>
                        <input required maxlength="60" (input)="updateNombre('NOMBRE_INM')" #nombreInmu [disabled]="propiedadesService.disableForm || !editable || propiedad.OFR == '2'" type="text" class="form-control"
                             [(ngModel)]="this.propiedad.NOMBRE_INM" name="NOMBRE_INM">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Vto. Autorización</label>
                        <input [disabled]="propiedadesService.disableForm" class="form-control" type="date" name="VTO_AUTORI" [ngModel]="this.propiedad.VTO_AUTORI | date:'yyyy-MM-dd'"
                            (ngModelChange)="this.propiedad.VTO_AUTORI=$event" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>Fuente de Captacion Cliente</h4>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Codigo *</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <button (click)="newField('COD_CAP')" data-toggle="modal" data-target="#addField" class="btn btn-outline btn-outline-success">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <select required [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                [(ngModel)]="this.propiedad.COD_CAP" name="COD_CAP" #codigo (change)="onCodigoChosen(codigo.value)">
                                <option *ngFor="let cod of codigos" [value]="cod.nombre">{{cod.nombre + ' | ' + cod.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sub-Codigo</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <button (click)="newField('COD_CAP2')" data-toggle="modal" data-target="#addField" class="btn btn-outline btn-outline-success">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                [(ngModel)]="this.propiedad.COD_CAP2" name="COD_CAP2">
                                <option *ngFor="let cod of subcodigos" [value]="cod.nombre">{{cod.nombre + ' | ' + cod.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-2">
                    <h4>Ubicacion</h4>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Región</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <button (click)="newField('REGION')" data-toggle="modal" data-target="#addField" class="btn btn-outline btn-outline-success">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                [(ngModel)]="this.propiedad.REGION" name="REGION">
                                <option *ngFor="let region of regiones" [value]="region.nombre">{{region.nombre + ' | ' + region.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Partido</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <button (click)="newField('SUB_ZONA')" data-toggle="modal" data-target="#addField" class="btn btn-outline btn-outline-success">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                [(ngModel)]="this.propiedad.SUB_ZONA" name="SUB_ZONA">
                                <option *ngFor="let region of subzonas" [value]="region.nombre">{{region.nombre + ' | ' + region.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Lista</label>
                        <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.LISTA" name="LISTA">
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:0;">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Sur</label>
                                <input type="number" [disabled]="propiedadesService.disableForm" class="form-control" 
                                    [(ngModel)]="this.propiedad.COORD_S1" name="COORD_S1" (input)="setLatLong()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>'</label>
                                <input type="number" [disabled]="propiedadesService.disableForm" class="form-control" 
                                    [(ngModel)]="this.propiedad.COORD_S2" name="COORD_S2" (input)="setLatLong()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>''</label>
                                <input type="number" [disabled]="propiedadesService.disableForm" class="form-control" 
                                    [(ngModel)]="this.propiedad.COORD_S3" name="COORD_S3" (input)="setLatLong()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Oeste</label>
                                <input type="number" [disabled]="propiedadesService.disableForm" class="form-control" 
                                    [(ngModel)]="this.propiedad.COORD_W1" name="COORD_W1" (input)="setLatLong()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>'</label>
                                <input type="number" [disabled]="propiedadesService.disableForm" class="form-control" 
                                    [(ngModel)]="this.propiedad.COORD_W2" name="COORD_W2" (input)="setLatLong()">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>''</label>
                                <input type="number" [disabled]="propiedadesService.disableForm" class="form-control" 
                                    [(ngModel)]="this.propiedad.COORD_W3" name="COORD_W3" (input)="setLatLong()">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Tipo Ruta</label>
                        <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.RUTA2" name="RUTA2">
                            <option value=""></option>
                            <option value="Prov">Provincial</option>
                            <option value="Nac">Nacional</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Ruta </label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.RUTA" name="RUTA">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Dist. a ruta</label>
                        <div class="input-group">
                            <input [disabled]="propiedadesService.disableForm" type="number" class="form-control" 
                                [(ngModel)]="this.propiedad.KIL_DESDE_" name="KIL_DESDE_">
                            <div class="input-group-addon">
                                km
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Dist. a asfalto</label>
                        <div class="input-group">
                            <input [disabled]="propiedadesService.disableForm" type="number" class="form-control" 
                                [(ngModel)]="this.propiedad.KIL_A_CAMI" name="KIL_A_CAMI">
                            <div class="input-group-addon">
                                km
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <agm-map (mapClick)="propiedadesService.disableForm ? null : placeMarker($event)" style="height: 300px;" [latitude]="lat"
                        [longitude]="long" [zoom]="10" [zoomControl]="true" [scrollwheel]="false">
                        <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
                    </agm-map>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            ZonaProp
                        </div>
                        <div class="card-body">

                            <!--div class="col-md-2 pull-right"-->

                            <div class="form-group">
                                <label>Situac. Publ.</label>
                                <input type="text" class="form-control" [disabled]="propiedadesService.disableForm" 
                                    [(ngModel)]="this.propiedad.ZP_PU" name="ZP_PU">
                            </div>
                            <div class="form-group">
                                <label>Publ. hasta</label>
                                <select type="text" class="form-control" [disabled]="propiedadesService.disableForm" 
                                    [(ngModel)]="this.propiedad.ZP_DE" name="ZP_DE">
                                <option>Ene</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>Abr</option>
                                <option>May</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Ago</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            MercadoLibre
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label>Situac. Publ.</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                    [(ngModel)]="this.propiedad.TEL_INFOR1" name="TEL_INFOR1">
                            </div>
                            <div class="form-group">
                                <label>Publ. hasta</label>
                                <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                    [(ngModel)]="this.propiedad.TEL_INFOR2" name="TEL_INFOR2">
                                    <option>Ene</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>Abr</option>
                                <option>May</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Ago</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Google Adwords
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label>Precio x click $</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                    [(ngModel)]="this.propiedad.RUTA_KIL" name="RUTA_KIL">
                            </div>
                            <div class="form-group">
                                <label>Máximo diario</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                    [(ngModel)]="this.propiedad.ACL_CAP" name="ACL_CAP">
                            </div>
                            <div class="form-group">
                                <label>Mes vto. campaña</label>
                                <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                    [(ngModel)]="this.propiedad.ZP_ES" name="ZP_ES">
                                    <option>Ene</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>Abr</option>
                                <option>May</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Ago</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            Argenprop
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Máximo diario</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                    [(ngModel)]="this.propiedad.ACL_CAP" name="ACL_CAP">
                            </div>
                            <div class="form-group">
                                <label>Mes vto. campaña</label>
                                <select [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                    [(ngModel)]="this.propiedad.ZP_ES" name="ZP_ES">
                                    <option>Ene</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>Abr</option>
                                <option>May</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Ago</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dic</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>Cerrado con Requerimiento</h4>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Legajo</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <button [disabled]="propiedadesService.disableForm" class="btn btn-outline-success" data-target="#cerrarLegajo" data-toggle="modal">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                                [(ngModel)]="this.propiedad.LEGAJO_REQ" name="LEGAJO_REQ">
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" 
                            [(ngModel)]="this.propiedad.NOM_REQUER" name="NOM_REQUER">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button [disabled]="propiedadesService.disableForm" class="form-control btn btn-primary btn-fill" (click)="cerrarLegajo()">Cerrar</button>
                    </div>
                </div>
            </div>

            <ng-content></ng-content>
        </form>
    </div>
</div>

<div class="modal fade" id="addField" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{toAddField.columna}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #fieldForm="ngForm">
                    <div class="form-group">
                        <label>Nombre de {{toAddField.columna}}</label>
                        <input class="form-control" name="nombre" [(ngModel)]="toAddField.nombre">
                    </div>
                    <div *ngIf="this.toAddField.columna=='REGION' || this.toAddField.columna=='COD_CAP2' || this.toAddField.columna=='SUB_ZONA'" class="form-group">
                        <label>Pertenece a: </label>
                        <select *ngIf="this.toAddField.columna=='REGION'" class="form-control" name="nombre" [(ngModel)]="toAddField.tipo">
                            <option *ngFor="let campo of paises" [value]="campo.nombre">{{campo.nombre || campo.descripcion}}</option>
                        </select>
                        <select *ngIf="this.toAddField.columna=='COD_CAP2'" class="form-control" name="nombre" [(ngModel)]="toAddField.tipo">
                            <option *ngFor="let campo of codigos" [value]="campo.nombre">{{campo.nombre || campo.descripcion}}</option>
                        </select>
                        <select *ngIf="this.toAddField.columna=='SUB_ZONA'" class="form-control" name="nombre" [(ngModel)]="toAddField.tipo">
                            <option *ngFor="let campo of provincias" [value]="campo.nombre">{{campo.nombre || campo.descripcion}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Descripcion de {{toAddField.columna}}</label>
                        <input class="form-control" name="descripcion" [(ngModel)]="toAddField.descripcion">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createField()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cerrarLegajo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar Legajo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #fieldForm="ngForm">
                    <div class="form-group">
                        <label>Buscar</label>
                        <div class="input-group">
                            <select class="form-control" #columna>
                                <option value="LEGAJO">Legajo</option>
                                <option value="OFER_REQUE">Requerente</option>
                            </select>
                            <input class="form-control" name="nombre" #search (input)="searchLegajos(columna.value,search.value)">
                            <div class="input-group-addon">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <th>
                            Legajo
                        </th>
                        <th>
                            Requerente
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let legajo of currentLegajos" (click)="selectLegajo(legajo)" data-dismiss="modal">
                            <td>{{legajo.LEGAJO}}</td>
                            <td>{{legajo.OFER_REQUE}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>