<div class="main-content">
    <div class="container-fluid">
        <div class="row">
             <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="form-group">
                                        <label>Filtrar por Columna</label>
                                        <select class="form-control" #columna>
                                            <option value="LEGAJO">Legajo</option>
                                            <option value="NOMBRE_INM">Nombre</option>
                                            <option value="TIPO_INMU">Tipo de Inmueble</option>
                                            <option value="OFER_REQUE">Oferente/Requerente</option>
                                            <option value="PAIS">Pais</option>
                                            <option value="ZONA">Provincia</option>
                                        </select>
                                    </div>
                                </div>
                                <!--div class="col-md-3">
                                    <div class="form-group">
                                        <label>Filtrar por valor</label>
                                        <select class="form-control">
                                            <option value="CV">Compraventa</option>
                                            <option value="AL">Alquiler</option>
                                        </select>
                                    </div>
                                </div-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Campo de Búsqueda</label>
                                        <input type="text"  class="form-control" placeholder="Busqueda" #busqueda value="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="btn btn-info btn-block btn-fill pull-right" (click)="search(columna.value,busqueda.value)"><i class="fa fa-search"></i>Buscar</button>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card" >
                    <div class="header">
                        <h4 class="title">Listado de Legajos</h4>
                        <p class="category">Haciendo click podes entrar al detalle</p>
                    </div>
                    
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Legajo</th>
                                    <th>Nombre</th>
                                    <th>Oferente/Requerente</th>
                                    <th>Fecha</th>
                                    <th>Operacion</th>
                                </tr>
                            <tbody>
                                    <tr (click)="propDetail(prop)" style="cursor: pointer;" *ngFor="let prop of displayingPropiedades">
                                        <td>{{prop.LEGAJO}}</td>
                                        <td>{{prop.NOMBRE_INM}}</td>
                                        <td>{{prop.OFER_REQUE}}</td>
                                        <td>{{prop.FECHA}}</td>
                                        <td>{{prop.OPERACION}}</td>
                                    </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
