
            <div class="col-xs-12">
                <div class="header">
                    <h4 class="title"></h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Situación Títulos</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="titulos" [(ngModel)]="propiedad.TITULOS" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h4>Accesos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Calle</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CALLE" [(ngModel)]="propiedad.CALLE">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Número</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="NRO_CALLE" [(ngModel)]="propiedad.NRO_CALLE">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Piso</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="PISO" [(ngModel)]="propiedad.PISO">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Departamento</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="DPTO" [(ngModel)]="propiedad.DPTO">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Entre calle</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ENTRE_CALL" [(ngModel)]="propiedad.ENTRE_CALL">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Y calle</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="Y_CALLE" [(ngModel)]="propiedad.Y_CALLE">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Superficie</th>
                                            <th>Metros cuad.</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Sup. Cubierta</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO1A" [(ngModel)]="propiedad.DPTO1A">
                                            </td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO1B" [(ngModel)]="propiedad.DPTO1B">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Balcón</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO2A" [(ngModel)]="propiedad.DPTO2A">
                                            </td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO2B" [(ngModel)]="propiedad.DPTO2B">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Patios</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO3A" [(ngModel)]="propiedad.DPTO3A">
                                            </td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO3B" [(ngModel)]="propiedad.DPTO3B">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Baulera</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO4A" [(ngModel)]="propiedad.DPTO4A">
                                            </td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO4B" [(ngModel)]="propiedad.DPTO4B">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jardín</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO5A" [(ngModel)]="propiedad.DPTO5A">
                                            </td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO5B" [(ngModel)]="propiedad.DPTO5B">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Cocheras</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO6A" [(ngModel)]="propiedad.DPTO6A">
                                            </td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO16" [(ngModel)]="propiedad.DPTO16">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO7A" [(ngModel)]="propiedad.DPTO7A">
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Precios y Gastos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Expensas</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO25" [(ngModel)]="propiedad.DPTO25">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Imp. Agua</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO26" [(ngModel)]="propiedad.DPTO26">
                                            </td>
                                         
                                        </tr>
                                        <tr>
                                            <td>ABL dto.</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO27" [(ngModel)]="propiedad.DPTO27">
                                            </td>
                                           
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Características edificio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Categoría</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO10" [(ngModel)]="propiedad.DPTO10">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Estado</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO11" [(ngModel)]="propiedad.DPTO11">
                                            </td>
                                         
                                        </tr>
                                        <tr>
                                            <td>Ubicación</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO12" [(ngModel)]="propiedad.DPTO12">
                                            </td>
                                           
                                        </tr>
                                        <tr>
                                            <td>Apto para</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO13" [(ngModel)]="propiedad.DPTO13">
                                            </td>
                                           
                                        </tr>
                                        <tr>
                                            <td>Anitguedad</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO14" [(ngModel)]="propiedad.DPTO14">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Orientación</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO15" [(ngModel)]="propiedad.DPTO15">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Cant. Asc.</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO16" [(ngModel)]="propiedad.DPTO16">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Cant. Pisos</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO17" [(ngModel)]="propiedad.DPTO17">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Depto. x piso</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO18" [(ngModel)]="propiedad.DPTO18">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>SUM</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO19" [(ngModel)]="propiedad.DPTO19">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Vigilancia</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO20" [(ngModel)]="propiedad.DPTO20">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Piscina</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO21" [(ngModel)]="propiedad.DPTO21">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Entrada Serv.</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO22" [(ngModel)]="propiedad.DPTO22">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Agua caliente</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO23" [(ngModel)]="propiedad.DPTO23">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Calefacción</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO24" [(ngModel)]="propiedad.DPTO24">
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Características de depto.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Dormitorios</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO30" [(ngModel)]="propiedad.DPTO30">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Palier</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO31" [(ngModel)]="propiedad.DPTO31">
                                            </td>
                                         
                                        </tr>
                                        <tr>
                                            <td>Living</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO32" [(ngModel)]="propiedad.DPTO32">
                                            </td>
                                           
                                        </tr>
                                        <tr>
                                            <td>Comedor</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO33" [(ngModel)]="propiedad.DPTO33">
                                            </td>
                                           
                                        </tr>
                                        <tr>
                                            <td>Baños/Toilette</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO35" [(ngModel)]="propiedad.DPTO35">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Cocina</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO36" [(ngModel)]="propiedad.DPTO36">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Comedor diario</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO37" [(ngModel)]="propiedad.DPTO37">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Escritorio</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO38" [(ngModel)]="propiedad.DPTO38">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Depto. servicio</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO39" [(ngModel)]="propiedad.DPTO39">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Luminosidad</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO40" [(ngModel)]="propiedad.DPTO40">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Placards</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO41" [(ngModel)]="propiedad.DPTO41">
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Estado</td>
                                            <td>
                                                <input [disabled]="propiedadesService.disableForm" style="padding:0;"  type="text" class="form-control"  name="DPTO42" [(ngModel)]="propiedad.DPTO42">
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h4>Precios</h4>
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-4">
                                <div class="form-group">
                                    <label>Mostrar precios</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control"  name="MOST_PREC" [(ngModel)]="propiedad.MOST_PREC">
                                </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                            <label>Fecha última actualización pr.</label>
                                            <input [disabled]="propiedadesService.disableForm" type="date" class="form-control"  name="FEC_ULT_PR" [(ngModel)]="propiedad.FEC_ULT_PR">
                                        </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr class="bg-light">
                                    <th rowspan="2">Total USD</th>
                                    <th>Autorizado</th>
                                    <th>
                                        <div class="form-group">
                                            <label>Valor Total Autorizado</label>
                                            <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="VAL_TOT" [(ngModel)]="propiedad.VAL_TOT">
                                        </div>
                                    </th>
                                </tr>
                                <tr class="bg-light">
                                    <th>Definitivo</th>
                                    <th>
                                        <div class="form-group">
                                            <label>Valor total definitivo</label>
                                            <input [disabled]="propiedadesService.disableForm" type="text" class="form-control"  name="TOT_DEF_DE" [(ngModel)]="propiedad.TOT_DEF_DE">
                                        </div>
                                    </th>
                                    
                                </tr>
                                <tr>
                                    <th rowspan="2">x M2 USD</th>
                                    <th>Autorizado</th>
                                    <th>
                                        <div class="form-group">
                                            <label>Valor total autorizado</label>
                                            <input [disabled]="propiedadesService.disableForm" type="text" class="form-control"  name="TOT_AUT_D2" [(ngModel)]="propiedad.TOT_AUT_D2">
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Definitivo</th>
                                    <th>
                                        <div class="form-group">
                                            <label>Valor total definitivo</label>
                                            <input [disabled]="propiedadesService.disableForm" type="text" class="form-control"  name="TOT_DEF_D2" [(ngModel)]="propiedad.TOT_DEF_D2">
                                        </div>
                                    </th>
                                    
                                </tr>
                            </thead>
                        </table>
                        <ng-content></ng-content>
                    </form>
                </div>
            </div>
