<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Menu principal</h4>
            <!-- <p class="card-subtitle mb-2 text-muted">Segun el tipo de inmueble</p> -->
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group-vertical btn-block" role="group" aria-label="Basic example">
                  <a class="btn btn-block btn-outline-info" routerLink="dashboard"><i class="fa fa-pie-chart"></i>&nbsp;Panel de Control</a>
                  <a class="btn btn-block btn-outline-info" routerLink="table"><i class="fa fa-table"></i>&nbsp;Listado de legajos</a>
                  <a class="btn btn-block btn-outline-info" routerLink="property"><i class="fa fa-home"></i>&nbsp;Alta y modificación de legajos</a>
                  <a class="btn btn-block btn-outline-info" routerLink="user"><i class="fa fa-users"></i>&nbsp;ABM usuarios</a>
                  <a class="btn btn-block btn-outline-info" routerLink="files"><i class="fa fa-file"></i>&nbsp;Archivos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>