<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Menu principal</h4>
            <!-- <p class="card-subtitle mb-2 text-muted">Segun el tipo de inmueble</p> -->
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group-vertical btn-block" role="group" aria-label="Basic example">
                  
                  <a class="btn btn-block btn-outline-info" routerLink="table">
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-table"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Listado y Búsqueda de legajos
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" routerLink="property">
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;ABM de legajos
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" routerLink="dashboard">
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-pie-chart"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Panel de Control
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Isologotipos, papelería y otros
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Porcentaje a cobrar
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Tasaciones
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Mapas y rutas
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Planillas varias
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" routerLink="user">
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-users"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;ABM usuarios
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" (click)="legajosClick()">
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-file"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Legajos - Archivos
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Publicidad
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Control y seguimiento Maixon
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Legislación y normativas inmobiliarias
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" >
                    <div class="row">
                      <div class="col-md-1 offset-md-1">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Contratos, recibos y otros
                      </div>
                    </div>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>