<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Menu principal</h4>
            <!-- <p class="card-subtitle mb-2 text-muted">Segun el tipo de inmueble</p> -->
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group-vertical btn-block" role="group" aria-label="Basic example">
                  <a class="btn btn-block btn-outline-info" routerLink="dashboard">
                    <div class="row">
                      <div class="col-md-1 offset-md-3">
                        <i class="fa fa-pie-chart"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Panel de Control
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" routerLink="table">
                    <div class="row">
                      <div class="col-md-1 offset-md-3">
                        <i class="fa fa-table"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Listado de legajos
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" routerLink="property">
                    <div class="row">
                      <div class="col-md-1 offset-md-3">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Alta y modificación de legajos
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" routerLink="user">
                    <div class="row">
                      <div class="col-md-1 offset-md-3">
                        <i class="fa fa-users"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;ABM usuarios
                      </div>
                    </div>
                  </a>
                  <a class="btn btn-block btn-outline-info" routerLink="files">
                    <div class="row">
                      <div class="col-md-1 offset-md-3">
                        <i class="fa fa-file"></i>
                      </div>
                      <div class="col-md-2">
                        &nbsp;Legajos - Archivos
                      </div>
                    </div>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>