
      <div class="col-xs-12">
        <div class="header">
          <h4 class="title"></h4>
        </div>
        <div class="content">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Situación Títulos</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="TITULOS" [(ngModel)]="propiedad.TITULOS" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <h4>Accesos</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Calle</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CALLE" [(ngModel)]="propiedad.CALLE">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Número</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="NRO_CALLE" [(ngModel)]="propiedad.NRO_CALLE">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Entre calle</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ENTRE_CALL" [(ngModel)]="propiedad.ENTRE_CALL">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Y calle</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="Y_CALLE" [(ngModel)]="propiedad.Y_CALLE">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Circunscrip.</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CIRCUNSCRI" [(ngModel)]="propiedad.CIRCUNSCRI">
              </div>
              <div class="col-md-3">
                <label>Sección</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="SECCION" [(ngModel)]="propiedad.SECCION">
              </div>
              <div class="col-md-3">
                <label>Manzana fracción</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="MANZANA" [(ngModel)]="propiedad.MANZANA">
              </div>
              <div class="col-md-3">
                <label>Parcela/Lote</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="LOTE" [(ngModel)]="propiedad.LOTE">
              </div>
            </div>
            <hr>
            <br>
            <div class="row">
              <div class="col-md-6">
                <label class="text-dark">Nombre country</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="NOMBRE_COU" [(ngModel)]="propiedad.NOMBRE_COU">
              </div>
              <div class="col-md-6">
                <label>Tipo</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="TIPO_COUNT" [(ngModel)]="propiedad.TIPO_COUNT">
              </div>
            </div>
            <hr>
            <br>
            <h5>Superficie</h5>
            <div class="row">
              <div class="col-md-3">
                <label>Total</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="HAS_TOTALE" [(ngModel)]="propiedad.HAS_TOTALE">
              </div>
              <div class="col-md-3">
                <label>Cubierta</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CONSTRUCCI" [(ngModel)]="propiedad.CONSTRUCCI">
              </div>
              <div class="col-md-3">
                <label>Ocupación del suelo</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="OCUPACION_" [(ngModel)]="propiedad.OCUPACION_">
              </div>
              <div class="col-md-3">
                <label>Espacio verde</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ESPVERD" [(ngModel)]="propiedad.ESPVERD">
              </div>
            </div>
            <br>
            <h5>Amenities</h5>
            <div class="row">
              <div class="col-md-2">
                <label>Club house</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CLUB_HOUSE" [(ngModel)]="propiedad.CLUB_HOUSE">
              </div>
              <div class="col-md-2">
                <label>Asfalto</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ASFALTO" [(ngModel)]="propiedad.ASFALTO">
              </div>
              <div class="col-md-2">
                <label>Gas</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="GAS" [(ngModel)]="propiedad.GAS">
              </div>
              <div class="col-md-2">
                <label>Tenis</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="TENIS" [(ngModel)]="propiedad.TENIS">
              </div>
              <div class="col-md-2">
                <label>Equitación</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="EQUITACION" [(ngModel)]="propiedad.EQUITACION">
              </div>
              <div class="col-md-2">
                <label>Internet</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="INTERNET" [(ngModel)]="propiedad.INTERNET">
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label>Fútbol</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="FUTBOL" [(ngModel)]="propiedad.FUTBOL">
              </div>
              <div class="col-md-2">
                <label>Golf</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="GOLF" [(ngModel)]="propiedad.GOLF">
              </div>
              <div class="col-md-2">
                <label>Restaurant</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="RESTAURANT" [(ngModel)]="propiedad.RESTAURANT">
              </div>
              <div class="col-md-2">
                <label>Gimnasio</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="GIMNASIO" [(ngModel)]="propiedad.GIMNASIO">
              </div>
            </div>
            <br>
            <h5>Constr. amenities</h5>
            <div class="row">
              <div class="col-md-2">
                <label>Ambientes</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="AMBIENTALE" [(ngModel)]="propiedad.AMBIENTALE">
              </div>
              <div class="col-md-2">
                <label>Baños/Toilettes</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="BANIOS" [(ngModel)]="propiedad.BANIOS">
              </div>
              <div class="col-md-2">
                <label>Dependencias/Servicio</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="DEP_SERV" [(ngModel)]="propiedad.DEP_SERV">
              </div>
              <div class="col-md-2">
                <label>Piscina</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="PISCINA" [(ngModel)]="propiedad.PISCINA">
              </div>
              <div class="col-md-2">
                <label>Quincho</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="QUINCHO" [(ngModel)]="propiedad.QUINCHO">
              </div>
              <div class="col-md-2">
                <label>Garage</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="GARAGE" [(ngModel)]="propiedad.GARAGE">
              </div>
            </div>
            <ng-content></ng-content>
          </form>
        </div>
      </div>