
        <div class="col-xs-12">
          <div class="header">
            <h4 class="title">Propiedad: {{this.propiedad.LEGAJO}}</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Situación Títulos</label>
                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="TITULOS" [(ngModel)]="propiedad.TITULOS" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h4>Accesos</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Calle</label>
                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CALLE" [(ngModel)]="propiedad.CALLE">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Número</label>
                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="NRO_CALLE" [(ngModel)]="propiedad.NRO_CALLE">
                  </div>
                </div>
  
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Entre calle</label>
                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ENTRE_CALL" [(ngModel)]="propiedad.ENTRE_CALL">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Y calle</label>
                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="Y_CALLE" [(ngModel)]="propiedad.Y_CALLE">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Circunscrip.</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CIRCUNSCRI" [(ngModel)]="propiedad.CIRCUNSCRI">
                </div>
                <div class="col-md-3">
                  <label>Sección</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="SECCION" [(ngModel)]="propiedad.SECCION">
                </div>
                <div class="col-md-3">
                  <label>Manzana fracción</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="MANZANA" [(ngModel)]="propiedad.MANZANA">
                </div>
                <div class="col-md-3">
                  <label>Parcela/Lote</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="LOTE" [(ngModel)]="propiedad.LOTE">
                </div>
              </div>
              <hr>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Destino</label>
                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="DESTINO" [(ngModel)]="propiedad.DESTINO" />
                  </div>
                </div>
              </div>
              <h5>Superficie</h5>
              <div class="row">
                <div class="col-md-4">
                  <label>Total terreno</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="HAS_TOTALE" [(ngModel)]="propiedad.HAS_TOTALE">
                </div>
                <div class="col-md-4">
                  <label>Superficie Cubierta</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CONSTRUCCI" [(ngModel)]="propiedad.CONSTRUCCI">
                </div>
                <div class="col-md-4">
                  <label>Espacio verde</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ESPVERD" [(ngModel)]="propiedad.ESPVERD">
                </div>
              </div>
              <br>
              <ng-content></ng-content>
            </form>
          </div>
        </div>