<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Cantidad de propiedades</h4>
                        <p class="card-subtitle mb-2 text-muted">Segun el tipo de inmueble</p>

                        <div class="content">
                            <div id="chartPreferences" class="ct-chart"></div>
                            <div class="footer">
                                <div class="legend">
                                    <div *ngFor="let tipo of this.tipos_inmu">
                                        <i class="fa fa-circle" [ngStyle]="{ 'color' : this.colors[this.tipos_inmu.indexOf(tipo)]}"></i> {{tipo}}
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <i class="fa fa-clock-o"></i> Actualizado hace {{lastUpdated}} minutos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Progreso a través de los años</h4>
                        <p class="card-subtitle mb-2 text-muted">Considerando todos los legajos</p>

                        <div class="content">
                            <div id="chartHours" class="ct-chart ct-series-d"></div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle" [ngStyle]="{ 'color' : this.colors[3]}"></i> Progreso de cantidad de legajos
                                </div>

                            </div>
                            <div class="card-footer">
                                <i class="fa fa-clock-o"></i> Actualizado hace {{lastUpdated}} minutos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Productores Ofrecimiento</h4>
                        <p class="card-subtitle mb-2 text-muted">Considerando todos los legajos</p>

                        <div class="content">
                            <div style="height:500px;" id="chartActivity1" class="ct-chart"></div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle" [ngStyle]="{ 'color' : this.colors[0]}"></i> Productores Ofr
                                </div>

                            </div>
                            <div class="card-footer">
                                <i class="fa fa-clock-o"></i> Actualizado hace {{lastUpdated}} minutos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Productores Requerimiento</h4>
                        <p class="card-subtitle mb-2 text-muted">Considerando todos los legajos</p>

                        <div class="content">
                            <div style="height:500px;" id="chartActivity2" class="ct-chart ct-series-b"></div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle" [ngStyle]="{ 'color' : this.colors[1]}"></i> Productores Req
                                </div>

                            </div>
                            <div class="card-footer">
                                <i class="fa fa-clock-o"></i> Actualizado hace {{lastUpdated}} minutos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Traders</h4>
                        <p class="card-subtitle mb-2 text-muted">Considerando todos los legajos</p>

                        <div class="content">
                            <div style="height:500px;" id="chartActivity3" class="ct-chart ct-series-c"></div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle" [ngStyle]="{ 'color' : this.colors[2]}"></i> Traders
                                </div>

                            </div>
                            <div class="card-footer">
                                <i class="fa fa-clock-o"></i> Actualizado hace {{lastUpdated}} minutos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Fuente de captación del cliente</h4>
                        <p class="card-subtitle mb-2 text-muted">Código</p>

                        <div class="content">
                            <div id="codigoCaptacion" class="ct-chart"></div>
                            <div class="footer">
                                <div class="legend">
                                    <div *ngFor="let tipo of cod_captacion; let i = index;">
                                        <i class="fa fa-circle" [ngStyle]="{ 'color' : this.colors[i]}"></i> {{tipo}}
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <i class="fa fa-clock-o"></i> Actualizado hace {{lastUpdated}} minutos
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="col-md-6">
                    <div class="card" >
                        <div class="header">
                            <h4 class="title">Fuente de captación del cliente</h4>
                            <p class="category">Sub-código</p>
                        </div>
                        <div class="content">
                            <div id="codigoCaptacion2" class="ct-chart"></div>
                            <div class="footer">
          
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-history"></i> Actualizado hace {{getCurrentTime()}} minutos
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        </div>

    </div>
</div>