<div class="main-content">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#general">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#campos1">Campos 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#campos2">Campos 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#deoflo1">DE-OF-LO 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#deoflo2">DE-OF-LO 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#cctc1">CC-TC 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#cctc2">CC-TC 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vucqtu1">VU-CQ-TU 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vucqtu2">VU-CQ-TU 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ot1">OT 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ot2">OT 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fa1">FA 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fa2">FA 2</a>
        </li>
    </ul>

    <div class="tab-content">
        <app-general id="general" class="tab-pane fade show active" [propiedad]="propiedad"></app-general>
        <app-campos1 id="campos1" class="tab-pane fade" [propiedad]="propiedad"></app-campos1>
        <app-campos2 id="campos2" class="tab-pane fade" [propiedad]="propiedad"></app-campos2>
        <app-de-of-lo1 id="deoflo1" class="tab-pane fade" [propiedad]="propiedad"></app-de-of-lo1>
        <app-de-of-lo2 id="deoflo2" class="tab-pane fade" [propiedad]="propiedad"></app-de-of-lo2>
        <app-cc-tc1 id="cctc1" class="tab-pane fade" [propiedad]="propiedad"></app-cc-tc1>
        <app-cc-tc2 id="cctc2" class="tab-pane fade" [propiedad]="propiedad"></app-cc-tc2>
        <app-vu-cq-tu1 id="vucqtu1" class="tab-pane fade" [propiedad]="propiedad"></app-vu-cq-tu1>
        <app-vu-cq-tu2 id="vucqtu2" class="tab-pane fade" [propiedad]="propiedad"></app-vu-cq-tu2>
        <app-ot1 id="ot1" class="tab-pane fade" [propiedad]="propiedad"></app-ot1>
        <app-ot2 id="ot2" class="tab-pane fade" [propiedad]="propiedad"></app-ot2>
        <app-fa1 id="fa1" class="tab-pane fade" [propiedad]="propiedad"></app-fa1>
        <app-fa2 id="fa2" class="tab-pane fade" [propiedad]="propiedad"></app-fa2>
    </div>
</div>