<div class="main-content">
  <div class="container-fluid">
    <h3>LIQUIDACION DE COMISIONES</h3>
    <form>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>OPERACION</td>
                    <td class="form-sistema">PA2016</td>
                  </tr>
                  <tr>
                    <td>LEGAJO</td>
                    <td class="form-sistema">A-CA-BA-1650</td>
                  </tr>
                  <tr>
                    <td>OFERENTE</td>
                    <td class="form-sistema">Patricia Lastra</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>NOMBRE INMUEBLE</td>
                        <td class="form-sistema">PA2016</td>
                      </tr>
                      <tr>
                        <td>LEGAJO REQUERIMIENTI</td>
                        <td class="form-sistema">A-CA-BA-1650</td>
                      </tr>
                      <tr>
                        <td>LEGAJ OFRECIMIENTO</td>
                        <td class="form-sistema">Patricia Lastra</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>