<div style="height: 100%;" class="main-content">
    <div style="height: 100%;" class="container-fluid">
        <div style="height: 100%;" class="row">
            <div style="height: 100%;" class="col-md-8">
                <agm-map style="height: 100%;" [latitude]="-34.450092" [longitude]="-58.916529">
                    <agm-marker [latitude]="-34.450092" [longitude]="-58.916529"></agm-marker>
                </agm-map>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>