<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demo" aria-controls="demo"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand" href="#">{{getTitle()}}</a>
    <button style="opacity:0;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-dashboard"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
                <li class="nav-item active">
                        <a class="nav-link" routerLink="/login">Salir
                        </a>
                    </li>
        </ul>

    </div>
</nav> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="fa fa-bars"></i>
            </button>
        </div>

        
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn btn-danger navbar-btn"  routerLink="/login">Salir</a>
                </li>
                
            </ul>
    </div>
</nav>