<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="col-md-12">
        <div class="header">
          <h4 class="title">Propiedad: {{this.propiedad.LEGAJO}}</h4>
        </div>
        <div class="content">
          <form>
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>ABL (anual)</label>
                          <input type="text" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Rentas (anual)</label>
                          <input type="text" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>FOS</label>
                          <input type="text" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>FOT</label>
                          <input type="text" class="form-control">
                      </div>
                  </div>
              </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Situación Títulos</label>
                  <input type="text" class="form-control" name="titulos" [(ngModel)]="propiedad.TITULOS" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <h4>Accesos</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Calle</label>
                  <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Número</label>
                  <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Entre calle</label>
                  <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Y calle</label>
                  <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Circunscrip.</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-3">
                <label>Sección</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-3">
                <label>Manzana fracción</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-3">
                <label>Parcela/Lote</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
            </div>
            <hr>
            <br>
            <h5>Superficie</h5>
            <div class="row">
              <div class="col-md-3">
                <label>Total</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-3">
                <label>Cubierta</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-3">
                <label>Ocupación del suelo</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-3">
                <label>Espacio verde</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
            </div>
            <br>
            <h5>Características</h5>
            <div class="row">
              <div class="col-md-2">
                <label>Gas</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-2">
                <label>Asfalto</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              
            </div>
            <br>
            <h5>Constr. menities</h5>
            <div class="row">
              <div class="col-md-2">
                <label>Ambientes</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-2">
                <label>Baños/Toilettes</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-2">
                <label>Dependencias/Servicio</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-2">
                <label>Piscina</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-2">
                <label>Quincho</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
              <div class="col-md-2">
                <label>Garage</label>
                <input type="text" class="form-control" name="pueblo1" [(ngModel)]="propiedad.PUEBLO1">
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info btn-fill pull-right">{{this.legajo == "new" ? "Guardar" : "Actualizar"}}</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>