
      <div class="col-xs-12">
        <div class="header">
          <h4 class="title"></h4>
        </div>
        <div class="content">
          <form>
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>ABL (anual)</label>
                          <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="EXPENSAS" [(ngModel)]="propiedad.EXPENSAS">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Rentas (anual)</label>
                          <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="RENTAS" [(ngModel)]="propiedad.RENTAS">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>FOS</label>
                          <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="FOS" [(ngModel)]="propiedad.FOS">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>FOT</label>
                          <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="FOT" [(ngModel)]="propiedad.FOT">
                      </div>
                  </div>
              </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Situación Títulos</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="TITULOS" [(ngModel)]="propiedad.TITULOS" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <h4>Accesos</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Calle</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CALLE" [(ngModel)]="propiedad.CALLE">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Número</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="NRO_CALLE" [(ngModel)]="propiedad.NRO_CALLE">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Entre calle</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ENTRE_CALL" [(ngModel)]="propiedad.ENTRE_CALL">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Y calle</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="Y_CALLE" [(ngModel)]="propiedad.Y_CALLE">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Circunscrip.</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CIRCUNSCRI" [(ngModel)]="propiedad.CIRCUNSCRI">
              </div>
              <div class="col-md-3">
                <label>Sección</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="SECCION" [(ngModel)]="propiedad.SECCION">
              </div>
              <div class="col-md-3">
                <label>Manzana fracción</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="MANZANA" [(ngModel)]="propiedad.MANZANA">
              </div>
              <div class="col-md-3">
                <label>Parcela/Lote</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="LOTE" [(ngModel)]="propiedad.LOTE">
              </div>
            </div>
            <hr>
            <br>
            <h5>Superficie</h5>
            <div class="row">
              <div class="col-md-3">
                <label>Total</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="HAS_TOTALE" [(ngModel)]="propiedad.HAS_TOTALE">
              </div>
              <div class="col-md-3">
                <label>Cubierta</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CONSTRUCCI" [(ngModel)]="propiedad.CONSTRUCCI">
              </div>
              <div class="col-md-3">
                <label>Ocupación del suelo</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="OCUPACION_" [(ngModel)]="propiedad.OCUPACION_">
              </div>
              <div class="col-md-3">
                <label>Espacio verde</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ESPVERD" [(ngModel)]="propiedad.ESPVERD">
              </div>
            </div>
            <br>
            <h5>Características</h5>
            <div class="row">
              <div class="col-md-2">
                <label>Gas</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="GAS" [(ngModel)]="propiedad.GAS">
              </div>
              <div class="col-md-2">
                <label>Asfalto</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="ASFALTO" [(ngModel)]="propiedad.ASFALTO">
              </div>
              
            </div>
            <br>
            <h5>Constr. menities</h5>
            <div class="row">
              <div class="col-md-2">
                <label>Ambientes</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="AMBIENTALE" [(ngModel)]="propiedad.AMBIENTALE">
              </div>
              <div class="col-md-2">
                <label>Baños/Toilettes</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="BANIOS" [(ngModel)]="propiedad.BANIOS">
              </div>
              <div class="col-md-2">
                <label>Dependencias/Servicio</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="DEP_SERV" [(ngModel)]="propiedad.DEP_SERV">
              </div>
              <div class="col-md-2">
                <label>Piscina</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="PISCINA" [(ngModel)]="propiedad.PISCINA">
              </div>
              <div class="col-md-2">
                <label>Quincho</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="QUINCHO" [(ngModel)]="propiedad.QUINCHO">
              </div>
              <div class="col-md-2">
                <label>Garage</label>
                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="GARAGE" [(ngModel)]="propiedad.GARAGE">
              </div>
            </div>
            <ng-content></ng-content>
          </form>
        </div>
      </div>