<div class="container-fluid">
    <div class="row">
        <div class="card" style="width: 100%;">
            <div class="col-md-12">
                <div class="header">
                    <h4 class="title">Propiedad: {{this.propiedad.LEGAJO}}</h4>
                </div>
                <div class="content" style="width: 100%;">
                    <form style="width: 100%;">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-12">
                                <div class="form-group" style="width: 100%;">
                                    <label>Detalle de mejoras</label>
                                    <textarea [disabled]="propiedadesService.disableForm" style="width: 100%; height: 70px;" class="form-control" name="DETALLE_ME" [(ngModel)]="propiedad.DETALLE_ME"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Riego Alernativo</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="RIEGO_ALT" [(ngModel)]="propiedad.RIEGO_ALT">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fuerza Motriz</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="FUERZ_MOTR" [(ngModel)]="propiedad.FUERZ_MOTR">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Clima y suelos</label>
                                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="CLIMA" [(ngModel)]="propiedad.CLIMA">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Descripción</h4>
                            </div>

                            <div class="col-md-5">
                                <label>Principal</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="COMENTARIO" [(ngModel)]="propiedad.COMENTARIO">
                            </div>
                            <div class="col-md-5">
                                <label>Secundaria</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="COMENTARI2" [(ngModel)]="propiedad.COMENTARI2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Description</h4>
                            </div>

                            <div class="col-md-5">
                                <label>Principal</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="REMARKS" [(ngModel)]="propiedad.REMARKS">
                            </div>
                            <div class="col-md-5">
                                <label>Secundaria</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="REMARKS2" [(ngModel)]="propiedad.REMARKS2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Comentarios </h4>
                            </div>

                            <div class="col-md-5">
                                <label>&nbsp;</label>
                                <textarea [disabled]="propiedadesService.disableForm" style="width: 100%; height: 70px;" class="form-control" name="COMENT_RES" [(ngModel)]="propiedad.COMENT_RES"></textarea>
                            </div>
                            <div class="col-md-5">
                                <label>&nbsp;</label>
                                <textarea [disabled]="propiedadesService.disableForm" style="width: 100%; height: 70px;" class="form-control" name="AERO2" [(ngModel)]="propiedad.AERO2"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Título de la página </h4>
                            </div>

                            <div class="col-md-5">
                                <label>Español</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="URL" [(ngModel)]="propiedad.URL">
                            </div>
                            <div class="col-md-5">
                                <label>Inglés</label>
                                <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="URL2" [(ngModel)]="propiedad.URL2">
                            </div>
                        </div>
                        <ng-content></ng-content>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>