<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Usuarios</h4>
                        <p class="card-subtitle">Se pueden modificar los privilegios</p>

                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Alias</th>
                                        <th>Privilegios</th>
                                    </tr>
                                    <tbody>
                                        <tr *ngFor="let user of users">
                                            <td>{{user.username}}</td>
                                            <td>{{user.alias}}</td>
                                            <td>{{user.privileges == -1 ? "Todos" : (user.privileges == 0 ? "Solo Lectura" :
                                                "Lectura y Escritura")}}</td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-5">
                <button *ngIf="this.isAdmin" data-toggle="modal" data-target="#nuevoUsuario" class="btn btn-primary">Nuevo usuario</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="nuevoUsuario" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #userForm="ngForm" novalidate (ngSubmit)="newUser()">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label>Usuario:
                                </label>
                                <input class="form-control input-sm" type="text" name="username" [(ngModel)]="user.username" #username="ngModel" required
                                    minlength="5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label>Contraseña:
                                </label>
                                <input class="form-control input-sm" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required
                                    minlength="5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label>Privilegios:
                                </label>
                                <select class="form-control input" name="privileges" [(ngModel)]="user.privileges" #privileges="ngModel" required>
                                    <option value="1">Lectura y Escritura</option>
                                    <option value="-1">Administración</option>
                                    <option value="0">Lectura</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group">
                                <label>Alias:
                                </label>
                                <input type="text" class="form-control input" name="alias" [(ngModel)]="user.alias" #alias="ngModel" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="newUser()">Enviar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" #closeModalButton>Cerrar</button>
            </div>
        </div>
    </div>
</div>