
        <div class="col-xs-12">
          <div class="header">
            <h4 class="title">Propiedad: {{this.propiedad.LEGAJO}}</h4>
          </div>
          <div class="content" style="width: 100%;">
            <form style="width: 100%;">
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Varios/Expensas</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="EXPENSAS" [(ngModel)]="propiedad.EXPENSAS">
                      </div>
                    </div>
                </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h4>Precios</h4>
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-4">
                  <div class="form-group">
                    <label>Mostrar precios</label>
                    <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="MOST_PREC" [(ngModel)]="propiedad.MOST_PREC">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Fecha última actualización pr.</label>
                    <input [disabled]="propiedadesService.disableForm" type="date" class="form-control" name="FEC_ULT_PR" [(ngModel)]="propiedad.FEC_ULT_PR">
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr class="bg-light">
                    <th rowspan="2">Total USD</th>
                    <th>Autorizado</th>
                    <th>
                      <div class="form-group">
                        <label>Valor Total Autorizado</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="VAL_TOT" [(ngModel)]="propiedad.VAL_TOT">
                      </div>
                    </th>
                  </tr>
                  <tr class="bg-light">
                    <th>Definitivo</th>
                    <th>
                      <div class="form-group">
                        <label>Valor total definitivo</label>
                        <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="VAL_TOT_DE" [(ngModel)]="propiedad.VAL_TOT_DE">
                      </div>
                    </th>
                  </tr>
                </thead>
              </table>
              <div class="row">
                <div class="col-md-2">
                  <h4>Descripción</h4>
                </div>
  
                <div class="col-md-5">
                  <label>Principal</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="COMENTARIO" [(ngModel)]="propiedad.COMENTARIO">
                </div>
                <div class="col-md-5">
                  <label>Secundaria</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="COMENTARI2" [(ngModel)]="propiedad.COMENTARI2">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <h4>Description</h4>
                </div>
  
                <div class="col-md-5">
                  <label>Principal</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="REMARKS" [(ngModel)]="propiedad.REMARKS">
                </div>
                <div class="col-md-5">
                  <label>Secundaria</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="REMARKS2" [(ngModel)]="propiedad.REMARKS2">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <h4>Comentarios </h4>
                </div>
  
                <div class="col-md-5">
                  <label>&nbsp;</label>
                  <textarea [disabled]="propiedadesService.disableForm" style="width: 100%; height: 70px;" class="form-control" name="COMENT_RES"
                    [(ngModel)]="propiedad.COMENT_RES"></textarea>
                </div>
                <div class="col-md-5">
                  <label>&nbsp;</label>
                  <textarea [disabled]="propiedadesService.disableForm" style="width: 100%; height: 70px;" class="form-control" name="AERO2"
                    [(ngModel)]="propiedad.AERO2"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <h4>Título de la página </h4>
                </div>
  
                <div class="col-md-5">
                  <label>Español</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="URL" [(ngModel)]="propiedad.URL">
                </div>
                <div class="col-md-5">
                  <label>Inglés</label>
                  <input [disabled]="propiedadesService.disableForm" type="text" class="form-control" name="URL2" [(ngModel)]="propiedad.URL2">
                </div>
              </div>
              <hr>
  
              <br>
              <ng-content></ng-content>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>